/*Fonts*/
@font-face {
  font-family: circularSpotify;
  src: url('./fonts/CircularSpotifyTxT-Book.ttf');
}

body,
html {
  scroll-behavior: smooth;
  cursor: default;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: circularSpotify, sans-serif;
}

.textColor {
  color: #201E50;
}